<?xml version="1.0"?>
<!DOCTYPE config PUBLIC "-//LOOM/Config DTD Version 1.0//EN" 
                  "http://loom.jcontainer.org/dtds/config_1_0.dtd">

<config>

  <thread-manager>
      <thread-group>
        <name>default</name>

        <!-- normal priority == 5, max-priority = 10 -->
        <priority>5</priority>

        <!-- are threads deamon threads ? -->
        <is-daemon>false</is-daemon>

        <max-threads>40</max-threads>
        <!-- these are ignored at the moment but will be fixed in later revisions -->
        <min-threads>20</min-threads>
        <min-spare-threads>20</min-spare-threads>
      </thread-group>
  </thread-manager>

  <sockets>
      <server-sockets>
        <factory name="plain"
                 class="org.apache.avalon.cornerstone.blocks.sockets.DefaultServerSocketFactory" />
      </server-sockets>

      <client-sockets>
        <factory name="plain"
                 class="org.apache.avalon.cornerstone.blocks.sockets.DefaultSocketFactory" />
      </client-sockets>
  </sockets>

  <helloworldserver>
      <port>8999</port>
      <bind>127.0.0.1</bind>
      <helloworldhandler>
        <connectiontimeout>360000</connectiontimeout>
      </helloworldhandler>
      <test></test>
  </helloworldserver>

</config>
