// Give loom launcher full permissions
grant codeBase "file:${loom.home}/bin/*" {
	permission java.security.AllPermission;
};

// Give loom launcher full permissions
grant codeBase "file:${loom.home}/container/lib/*" {
	permission java.security.AllPermission;
};

// Give full permissions to wrapper.jar
grant codeBase "file:${loom.home}/ext/wrapper.jar" {
    permission java.security.AllPermission;
}; 